
*.dll
DAL/bin/Debug/DAL.dll.config
*.pdb
/.vs
/DAL/bin
/DAL/obj
/packages
/Valcan/App_Data
/Valcan/bin
/Valcan/Document
/Valcan/obj
/Vulcan
/Valcan/Views/Summary/ZMIS.xlsx
/Valcan/Views/Summary/OFFER.xlsx
