<?xml version="1.0" encoding="UTF-8"?>
<log4net>
  <appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\AppLog.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %-22.22c{1} - %m%n" />
    </layout>
  </appender>

  <appender name="AspNetDebugger" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>

  <root>
    <priority value="Error" />
    <appender-ref ref="rollingFile" />
    <appender-ref ref="AspNetDebugger" />
  </root>
</log4net>